{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}
快乐伴随您左右
{% endblock %}

{% block leftbody %}
<h2 class="text-primary"></h2>
{% endblock %}
{% block midbody %}
<h1 class="text-center">愿快乐常伴您身边<small>lalala~</h1>
{% endblock %}
{% block rightbody %}
<img src="static/images/smile1.jpg" class="img-responsive img-circle" alt="Responsive image">
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('#home').addClass('active');
    });
</script>
{% endblock %}